<!DOCTYPE html>
<html>
  <h1>
    <form action="/pirates" method="POST">
      <h6>
        <ul style="text-decoration: underline;">Pirate:</ul><br>
        Name: <input type="text" name="pirate[name]"><br>
        Weight: <input type="number" name="pirate[weight]"> lbs.<br>
        Height: <input type="number" name="pirate[height]"> in.<br><br>
        <ul style="text-decoration: underline;">Ships:</ul><br>
        Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1"><br>
        Type: <input type="text" name="pirate[ships][][type]"><br>
        Booty: <input type="text" name="pirate[ships][][booty]"><br><br>
        Name: <input type="text" name="pirate[ships][][name]"><br>
        Type: <input type="text" name="pirate[ships][][type]"><br>
        Booty: <input type="text" name="pirate[ships][][booty]">

        <input type="submit" id="submit">
      </h6>
    </form>
  </h1>
</html>
