<h1>
  <form action="/pirates" method="POST">
    <h5>
      Pirate Info:<br><br>
      <label>Name:   <input type="text" name="pirate[name]"><br>
      <label>Weight: <input type="text" name="pirate[weight]"><br>
      <label>Height: <input type="text" name="pirate[height]"><br><br>
      Ship Info:<br><br>
      <label>Name:   <input type="text" name="pirate[ship][][name]"><br>
      <label>Type:   <input type="text" name="pirate[ship][][type]"><br>
      <label>Booty:  <input type="text" name="pirate[ship][][booty]"><br>
      <label>Name:   <input type="text" name="pirate[ship][][name]"><br>
      <label>Type:   <input type="text" name="pirate[ship][][type]"><br>
      <label>Booty:  <input type="text" name="pirate[ship][][booty]">

      <input type="submit" id="submit">
    </h5>
  </form>
</h1>
